html, body {
  height: auto!important;
}

.masthead { overflow: hidden; }

@media (min-width: $md-breakpoint) {
  .masthead .column:nth-of-type(1),
  .masthead .reverse .column:nth-of-type(2) {
    width: 50%;
  }

  .masthead .column:nth-of-type(2),
  .masthead .reverse .column:nth-of-type(1) {
    width: 50%;
  }
}

@media (min-width: $lg-breakpoint) {
  .masthead .column:nth-of-type(1),
  .masthead .reverse .column:nth-of-type(2) {
    width: 45%;
  }

  .masthead .column:nth-of-type(2),
  .masthead .reverse .column:nth-of-type(1) {
    width: 55%;
  }
}

@media (min-width: $xl-breakpoint) {
  .masthead .column:nth-of-type(1),
  .masthead .reverse .column:nth-of-type(2) {
    width: 40%;
  }

  .masthead .column:nth-of-type(2),
  .masthead .reverse .column:nth-of-type(1) {
    width: 60%;
  }
}

.masthead .container { padding-top: 3rem; }

.graphics
{
  height: 400px;

  @media(max-width: $sm-breakpoint)
  {
    height: 300px;
  }
}

.graphics:after
{
  content: " ";
  display: block;
  position: absolute;
  z-index: -1;
}

.masthead .graphics img
{
  display: none;
}

.page-standard .masthead .graphics:after
{
  background: url("/img/svg/standard-masthead.svg") no-repeat transparent;

  height: 100%;
  width: 220%;
  left: -270px;
  top: 40px;
  background-position: top 100% left 0;
  background-size: auto 100%;

  @media(min-width: $md-breakpoint)
  {
    height: 110%;
    background-position: top right;
    left: -120%;
  }

  @media(min-width: $lg-breakpoint)
  {
    height: 130%;
  }

  @media(min-width: $xl-breakpoint)
  {
    height: 170%;
  }
}
