<div>
  <label for="name">{{ name-field-label[label] Full Name }}</label>
  <input type="text" id="name" name="name" required />
</div>
<div class="row">
  <div class="column one-half">
    <label for="company">{{ company-field-label[label] Company / Organization }}</label>
    <input type="text" id="company" name="company" required />
  </div>
  <div class="column one-half">
    <label for="title">{{ title-field-label[label] Job Title (optional) }}</label>
    <input type="text" id="title" name="title" />
  </div>
  <div class="column one-half">
    <label for="email">{{ email-field-label[label] Email address }}</label>
    <input type="email" id="email" name="email" required />
  </div>
  <div class="column one-half">
    <label for="phone">{{ phone-field-label[label] Phone number (optional) }}</label>
    <input type="tel" id="phone" name="phone" />
  </div>
</div>
<div>
  <label for="group">{{ group-field-label[label] Stakeholder group }}</label>
  <select name="group">
    <option value="" disabled selected>{{ choose-type[select placeholder] Please choose type }}</option>
    <option value="Advertiser">{{ advertisers-option[option text] Advertiser }}</option>
    <option value="Ad-blocker user">{{ ad-blocker-user-option[option text] Ad-blocker user }}</option>
    <option value="Advertising Agency">{{ ad-agencies-option[option text] Advertising Agency }}</option>
    <option value="Publisher/Content-Creator">{{ publishers-option[option text] Publisher/Content-Creator }}</option>
    <option value="Digital Rights Organization">{{ digital-rights-option[option text] Digital Rights Organization }}</option>
    <option value="User Agent">{{ user-agent-option[option text] User Agent }}</option>
    <option value="Researcher">{{researcher-option[option text] Researcher }}</option>
    <option value="Designer">{{ designer-option[option text] Designer }}</option>
    <option value="Ad tech agency">{{ ad-tech-option[option text] Ad tech agency }}</option>
    <option value="Other">{{ other-option[option text] Other }}</option>
  </select>
</div>
<div>
  <label for="motivation">{{ motivation-label[label] Motivation }}</label>
  <textarea
    required
    name="motivation"
    rows="14"
    placeholder="{{text-area-placeholder[Placeholder text inside textarea] Please provide in 100 words or less a short description of why you would be a good fit}}"></textarea>
</div>
<p>
  <button
    class="button green"
    type="submit"
    name="Submit"
    value="Submit">
    {{ submit-text[button text] Send }}
  </button>
  <span id="error-message" hidden>{{ submission-error[form error message] Failed to submit. Please try again later. }}</span>
  <span id="success-message" hidden>{{ submission-success[form success message] FIXME }}</span>
</p>
