<h3 id="mobile-ads"><span>06</span> Mobile Ads</h3>

<h4>PLACEMENT REQUIREMENTS</h4>

<ul>
  <li>Static ad types (e.g. 6x1 banner and 1x1 tile ad) are allowed to be placed anywhere on the mobile page.</li>
  <li>Small ads (6x1 banner or smaller) are allowed to be placed as a sticky ad on the bottom of the screen. Other formats are not allowed to stick.<li>
  <li>Large ad types (e.g. native tile ads) are only allowed to be placed under the Primary Content. <sup aria-labelledby="large-ad"><a href="#large-ad">1</a></sup>&nbsp;&nbsp;<sup aria-labelledby="primary-content"><a href="#primary-content">2</a></sup></li>
</ul>

<h4>SIZE REQUIREMENTS</h4>

<dl>
  <dt>Ads showing on mobile screens are bound to the following size restrictions:</dt>
  <dd>Ads implemented on the scrollable portion of the webpage must not occupy in total more than 50 percent of the visible portion of the webpage<sup aria-labelledby="standard-size"><a href="#standard-size">3</a></sup>.</dd>
  <dd>Ads implemented as a ‘sticky ad’ have a maximum height restriction of 75px (or 15%).</dd>
  <dd>Below the Primary Content, ads are limited to 100% of the screen space<sup aria-labelledby="below-primary"><a href="#below-primary">4</a></sup>.</dd>
</dl>

<h4>ANIMATIONS</h4>

<p>Animations are allowed for the 6x1 ad type when placed as a ‘sticky’ ad on the bottom of the screen. Animations have to comply with the LEAN standard for animations, and a close button or some other closing mechanism must be included<sup aria-labelledby="animations"><a href="#animations">5</a></sup>.</p>

<h3><span>07</span> Other Acceptable Ads formats?</h3>

<p>Are your ads displayed on alternative screens, or are you convinced that you have an innovative Acceptable Ads format which doesn't fit the ads outlined above? <a href="mailto:acceptableads@adblockplus.org">Let us know!</a></p>
