input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0.5rem 1rem;
  color: $black;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid $gray;
  border-radius: 5px;
  background-color: $white;
  box-shadow: none;
}

select {
  vertical-align: middle;
  background-color: $white;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  color: $gray;
  font-size: 1rem;
  font-weight: normal;
}