.page-about {
  .masthead {
    .graphics:after {
      background: url("/img/svg/about-masthead.svg") no-repeat transparent;

      height: 120%;
      width: 186%;
      top: -90px;
      right: -84%;

      background-position: top 0 left 0%;
      background-size: auto 100%;


      @media(min-width: $md-breakpoint) {
        height: 128%;
        width: 150%;
        top: -120px;
        right: -60%;
      }

      @media(min-width: $lg-breakpoint) {
        height: 216%;
        width: 120%;
        top: -323px;
        right: -22%;
      }

      @media(min-width: $xl-breakpoint) {
        height: 270%;
        width: 184%;
        top: -451px;
        right: -77%;
      }
    }

    &.v-2 {
      @media(min-width: $md-breakpoint) {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
      @media(min-width: $lg-breakpoint) {
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
      @media(min-width: $xl-breakpoint) {
        padding-top: 8rem;
        padding-bottom: 8rem;
      }
    }
  }

  .without,
  .with,
  .timeline {
    h2 {
      @extend .h1;
    }
  }

  .without,
  .with {
    img {
      padding: 2rem;
    }

    @media(min-width: $md-breakpoint) {
      .row {
        display: table;
        vertical-align: middle;
        .column {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    @media(min-width: $xl-breakpoint) {
      img {
        padding: 4rem;
      }
    }
  }

  .timeline {
    p {
      font-size: 24px;
      color: $gray;
    }

    dl {
      display: flex;
      flex-wrap: wrap;
    }

    dt,
    dd {
      display: flex;
    }

    dt {
      position: relative;
      top: -0.25em;
      width: 35%;
      font-size: 2rem;
      font-weight: bold;

      &:first-of-type,
      &:last-of-type {
        top: -0.35em;
      }
    }

    dd {
      position: relative;
      width: 65%;
      margin: 0;
      padding: 0 0 1rem 1rem;
      border-left: 5px solid #000000;
      color: $gray;

      &:last-child {
        border-color: transparent;
      }

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 8px;
        left: -10px;
        height: 15px;
        width: 15px;
        background: $green;
        border-radius: 50%;
      }

      &:first-of-type:after {
        top: -2px;
      }

      &:last-of-type:after {
        top: 0;
      }
    }

    @media(min-width: $md-breakpoint) {
      dt {
        width: 24%;
      }

      dd {
        width: 76%;
      }
    }

    @media(max-width: $lg-breakpoint) {
      .column {
        width: 100%;
      }
      .push-6 {
        left: 0 !important;
      }
    }

    @media(min-width: $lg-breakpoint) {
      dl {
        position: relative;
        width: 124%;
        margin-left: -36%;
      }
    }

    .and-beyond {
      position: absolute;
      left: 0;
      top: 2.5em;
      font-size: 0.5em;
    }
  }
}
