.page-committee .masthead .text {
  padding-top: 1rem;
  padding-bottom: 3rem;

  @media (min-width: $sm-breakpoint) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  @media (min-width: $md-breakpoint) {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  @media (min-width: $lg-breakpoint) {
    padding-top: 14rem;
    padding-bottom: 14rem;
  }
}

.page-committee .masthead .graphics::after {
  background: url("/img/svg/committee-masthead.svg") no-repeat transparent;
  height: 110%;
  width: 100%;
  right: 0;
  top: 0;
  background-position: top 100% left 0;
  background-size: auto 100%;

  @media(min-width: $md-breakpoint)
  {
    height: 220%;
    width: 110%;
    top: -230px;
    right: -8%;
  }

  @media(min-width: $lg-breakpoint)
  {
    height: 260%;
    top: -260px;
  }

  @media(min-width: $xl-breakpoint)
  {
    height: 270%;
    width: 140%;
    right: -40%;
    top: -290px;
  }
}

.coalitions { position: relative; }

#show-committee {
  position: absolute;
  bottom: -23px;
  left: 50%;
  min-width: 15rem;
  transform: translateX(-50%);

  @media (min-width: $sm-breakpoint) {
    min-width: initial;
  }
}

.coalitions-intro {
  .graphic { margin-top: 1rem; }

  @media (min-width: $sm-breakpoint) {
    .graphic { margin-top: 3rem; }
  }

  @media (min-width: $lg-breakpoint) {
    .graphic {
      margin-top: 0;
      padding-right: 7rem;
    }
  }
}

@media (min-width: $sm-breakpoint) and (max-width: $lg-breakpoint) {
  .coalitions-intro .row {
    max-width: 540px;
    margin: 0 auto;
  }

  .coalitions-intro .one-half { width: 100%; }

  .coalitions .one-third { width: 50%; }
}

@media (min-width: $md-breakpoint) {
  .apply .join {
    max-width: 768px;
    margin: 0 auto; 
  }
}
