.page-standard {
  .masthead {
    margin-top: 4em;

    .column.one-half {
      width: 100%;

      @media (min-width: $md-breakpoint) {
        width: 50%;
      }
    }

    .graphics {
      height: 280px;

      @media (min-width: $md-breakpoint) {
        height: 340px;
      }

      @media (min-width: $lg-breakpoint) {
        height: 500px;
      }
    }
  }

  .standards {
    position: relative;

    small {
      font-size: smaller;
    }

    h2 {
      span {
        color: $green;
      }
    }

    .tabs-nav {
      text-align: center;

      nav {

        li {
          display: inline-block;

          a {
            display: block;
            padding: 1rem;
            border-bottom: 0.2em solid $gray;

            svg {
              width: 4em;
              height: 4em;
              filter: grayscale(100%);
            }

            &:hover {
              border-bottom-color: $green;
            }

            @media (min-width: $md-breakpoint) {
              padding: 32px;
            }
          }

          &:hover,
          .selected {
            border-bottom-color: $green;

            svg {
              filter: grayscale(0);
            }
          }
        }
      }
    }

    .tabs-cont {
      min-height: 48em;

      .image-container {
        display: flex;
        justify-content: center;
      }

      img {
        width: 10em;
        height: 10em;
      }

      @media (min-width: $md-breakpoint) {
        img {
          width: 16em;
          height: 16em;
        }
      }

      @media (min-width: $md-breakpoint) {
        margin-top: 4em;
        min-height: 34em;

        .column.one-half {
          width: 50%;
        }
      }

      @media (min-width: $lg-breakpoint) {
        min-height: 30em;
      }
    }

    #size ul {
      list-style: disc;
      list-style-position: inside;
    }

    code {
      background: none;
    }
  }

  .criteria {
    position: relative;

    h2, h3 {
      text-transform: none;
    }

    h2 {
      font-size: 2em;
    }

    h3 {
      font-size: 2em;
      color: $green;
    }

    h3 span {
      color: $white;
    }

    sup a {
      text-decoration: none;
      color: $white;
    }

    dd {
      margin: 1em 0;
    }

    &:after {
      background: none;
    }

    @media (min-width: $md-breakpoint) {
      &.row { padding: 6em; }
    }
  }

  .not-considered {
    .column.one-half {
      &:nth-child(2) {
        padding: 0;
        background-color: $red;
      }

      h2,
      dl {
        padding: 1em;
        color: $white;
      }

      .footnotes2 {
        position: relative;
        margin-bottom: 0;
        z-index: 1;
        color: $white;
        background-color: $black;
      }

      div {
        width: 100%;
        background-color: $black;
      }
    }

    code {
      background: none;
    }

    dt {
      font-size: 1em;
      font-weight: lighter;
      text-transform: none;
    }

    .not-acceptable dt {
      margin-bottom: 1em;
    }

    .not-acceptable dd {
      position: relative;
      left: -2em;

      &::before {
        padding-right: 0.2em;
        content: "•";
      }
    }

    .column:first-child {
      color: $black;
    }

    .footnotes dt,
    .footnotes2 dt {
      position: relative;
      top: 1.45em;
      font-weight: bold;
      color: $green;
    }

    .footnotes2 dt {
      color: $white;
    }

    sup a {
      color: $white;
      text-decoration: none;
    }

    @media (min-width: $md-breakpoint) {
      .column.one-half {
        dl {
          padding: 1em 4em;
        }
      }
    }

    @media (min-width: $lg-breakpoint) {
      .column.one-half {
        dl {
          padding: 1em;
        }
      }
    }

    .column:first-child dd {
      color: $black;
    }
  }

  .bg-tabs {
    position: absolute;
    bottom: 40em;
    width: 100%;
    height: 16%;
    z-index: -1;
    background: url(/img/svg/bg-tabs.svg);
    background-size: 100% 100%;

    @media (min-width: $md-breakpoint) {
      height: 42%;
    }

    @media (min-width: $lg-breakpoint) {
      height: 85%;
    }

    @media (min-width: $xl-breakpoint) {
      height: 90%;
    }
  }

  .bg-tabs-extra {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40em;
    z-index: -1;
  }

  @media (min-width: $md-breakpoint) {
    .bg-tabs {
      bottom: 20em;
    }

    .bg-tabs-extra {
      height: 20em;
    }
  }

  @media (min-width: $lg-breakpoint) {
    .bg-tabs {
      bottom: 0;
    }

    .bg-tabs-extra {
      display: none;
    }

    .not-considered-bg {
      position: absolute;
      right: 0;
      width: 50%;
      height: 180%;
      z-index: -1;
    }
  }

  .bg-dynamic {
    height: 3em;
    margin-top: -3em;
  }

  @media (min-width: $lg-breakpoint) {
    .bg-dynamic {
      position: absolute;
      right: 0;
      width: 50%;
    }
  }

  @media (min-width: $md-breakpoint) {
    .column,
    .column.one-half {
      width: 100%;
    }

    .not-considered {
      padding: 0;
    }
  }

  @media (min-width: $lg-breakpoint) {
    .column.one-half {
      width: 50%;
    }

    .not-considered {
      padding-top: 6em;
    }
  }

  @media (min-width: $md-breakpoint) {
    footer {
      .column.one-fourth {
        width: 25%;
        padding-left: 4em;
      }
    }
  }

  .diagonal-edge {
    position: absolute;
    width: 100%;
    height: 5em;
    background: url(/img/svg/diagonal-edge.svg);
    background-size: 100% 100%;

    @media (min-width: $md-breakpoint) {
      height: 2.5em;
    }
  }
}
