title=What are Acceptable Ads?
description=Acceptable Ads are nonintrusive ad formats that are accepted by ad blocking users and allow content creators to monetize their content.
image=/img/png/aa-facebook-share.png

<div class="masthead py2">
  <div class="section-container">
    <div class="row reverse">
      <div class="column graphics"></div>
      <div class="column">
        <? include about/masthead ?>
      </div>
    </div>
  </div>
</div>

<section class="without py1">
  <div class="section-container">
    <div class="row">
      <div class="column one-half">
        <img src="/img/svg/laptop-without.svg"
             alt="">
      </div>
      <div class="column one-half">
        <? include about/without ?>
      </div>
    </div>
  </div>
</section>

<section class="with py1">
  <div class="section-container">
    <div class="row reverse">
      <div class="column one-half">
        <img src="/img/svg/laptop-with.svg"
             alt="">
      </div>
      <div class="column one-half">
        <? include about/with ?>
      </div>
    </div>
  </div>
</section>

<section class="timeline py1">
  <div class="section-container">
    <div class="row reverse">
      <div class="column one-half">
        <header>
          <h2>{{ timeline-heading[heading] The timeline }}</h2>
          <p>{{ timeline-subheading[subheading] and why this is not a new concept }}</p>
        </header>
        <dl>
          <dt>2006</dt>
          <dd>{{ 2006[event] Adblock Plus is written and released. It becomes the most popular Firefox extension in less than a year. }}</dd>
          <dt>2011</dt>
          <dd>{{ 2011[event] eyeo, the company behind Adblock Plus, is founded. The Acceptable Ads initiative is born. }}</dd>
          <dt>2012</dt>
          <dd>{{ 2012[event] The original Acceptable Ads criteria is developed by eyeo and the Adblock Plus community. By working together, both parties create a standard for better ads that benefits both users and advertisers. }}</dd>
          <dt>2017</dt>
          <dd>{{ 2017[event] The Acceptable Ads Committee is formed. eyeo hands over the Acceptable Ads criteria to the Committee. }}</dd>
          <dt>2018</dt>
          <dd>{{ 2018[event] The Acceptable Ads Committee releases Mobile Acceptable Ads criteria based on a study by an independent research company. }}</dd>
          <dt>2019 <span class="and-beyond">& beyond</span></dt>
          <dd>{{ 2019[event] The Acceptable Ads Committee turns its attention to video ads and more. }}</dd>
        </dl>
      </div>
    </div>
  </div>
</section>
