title=The Acceptable Ads Committee
description=The Acceptable Ads Committee creates new and exceptional ad standards that improve the user experience for ad-blocking users while, just as importantly, delivering real value to content publishers and online advertisers.

<div class="masthead">
  <div class="section-container">
    <div class="row reverse">
      <div class="column graphics"></div>
      <div class="column text">
        <? include committee/masthead ?>
      </div>
    </div>
  </div>
</div>

<section class="coalitions-intro bg-black py2">
  <div class="section-container">
    <div class="row reverse">
      <div class="column one-half">
        <? include committee/coalitions/header ?>
      </div>
      <div class="column one-half graphic">
        <img src="/img/committee-coalitions.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<section id="coalitions" class="coalitions bg-gray py2">
  <div class="section-container">
    <div class="row">
      <div class="column one-third">
        <? include committee/coalitions/for-profit ?>
      </div>
      <div class="column one-third">
        <? include committee/coalitions/user-advocate ?>
      </div>
      <div class="column one-third">
        <? include committee/coalitions/expert ?>
      </div>
    </div>
    <a id="show-committee" href="#committee" class="button green">
      {{ meet-the-committee[button text] Meet the Committee }}
    </a>
  </div>
</section>

<section id="committee" class="my2" hidden>
  <div class="section-container">
    <? include committee/members ?>
  </div>
</section>

<section class="apply py2">
  <div class="section-container">
    <form id="apply" class="join">
      <header>
        <? include committee/join/header ?>
      </header>
      <? include committee/join/form ?>
    </form>
  </div>
<section>

<script src="/js/committee.js"></script>
