title=Reach new audiences with Acceptable Ads
description=There’s a wide variety of solutions for publishers, ad networks, advertisers and ad-tech suppliers. Learn how to monetize your ad blocking audience!

<div id="selling-points" class="selling-points py1">
  <div class="section-container">
    <div class="row">
      <article class="selling-point column one-third">
        <div class="image-container">
          <img
            src="/img/svg/laptop.svg"
            alt="{{ laptop-icon-alt[image alt text] Icon laptop }}" />
        </div>
        <div class="body-container">
          <? include solutions/reach ?>
        </div>
      </article>
      <article class="selling-point column one-third card">
        <div class="image-container">
          <img
            src="/img/svg/lightbulb.svg"
            alt="{{ light-icon-alt[image alt text] Icon light bulb }}" />
        </div>
        <div class="body-container">
          <? include solutions/monetize ?>
        </div>
      </article>
      <article class="selling-point column one-third card">
        <div class="image-container">
          <img
            src="/img/svg/gear.svg"
            alt="{{ gear-icon-alt[image alt text] Icon gear }}" />
        </div>
        <div class="body-container">
          <? include solutions/ad-tech ?>
        </div>
      </article>
    </div>
  </div>
</div>

<section>
  <div class="bg-black bg-white-envelope">
    <div class="section-container">
      <div id="support" class="support">
        <div class="md-max py2">
          <? include solutions/need-support ?>
        </div>
      </div>
    </div>
  </div>
  <aside class="bg-green">
    <div class="section-container">
      <aside id="partners" class="partners" hidden>
        <div class="py2">
          <div class="relative">
            <a id="hide-partners" href="#partners" class="button white">{{ need-support-hide-cta[button text] Hide Acceptable Ads partners }}</a>
          </div>
          <dl>
            <dt>
              {{ demand-side-dt[heading] Demand side }}
            </dt>
            <dd>
              AAX, Outbrain, Taboola, Stroer SSP, Criteo
            </dd>
            <dt>
              {{ supply-side-dt[heading] Supply side }}
            </dt>
            <dd>
              AAX, AdRecover, Amazon Native Shopping Ads, Blockthrough, Carbon, CodeFund, Criteo, Dianomi, Outbrain, Plista, Relap, RevContent, Taboola, Direct whitelisting
            </dd>
          </dl>
        </div>
      </aside>
    </div>
  </aside>
</section>

<section class="apply py2">
  <div class="section-container">
    <form
      id="apply"
      class="join"
      name="WebToLeadForm"
      method="POST">
      <div class="md-max">
        <h3 class="h2">
          {{ apply-heading[heading] Apply to participate in Acceptable Ads }}
        </h3>
        <div>
          <label for="partner_type_c">
            {{ partner-type-label[form field label] Partner Type }}
          </label>
          <select name="partner_type_c" required>
            <option value="Publisher">{{ publishers-option[dropdown option] Publishers }}</option>
            <option value="Ad Network">{{ad-networks-option[dropdown option] Ad Networks }}</option>
            <option value="Advertiser">{{advertisers-option[dropdown option] Advertisers }}</option>
            <option value="Ad Tech supplier">{{tech-suppliers-option[dropdown option] Ad Tech suppliers }}</option>
          </select>
        </div>
        <div class="row">
          <div class="column one-half">
            <label for="first_name">
              {{ first-name-label[form field label] First Name }}
            </label>
            <input type="text" name="first_name" required />
          </div>
          <div class="column one-half">
            <label for="last_name">
              {{ last-name-label[form field label] Last Name }}
            </label>
            <input type="text" name="last_name" required />
          </div>
          <div class="column one-half">
            <label class="semioptional" for="title">
              {{ title-label[form field label] Job Title (optional) }}
            </label>
            <input type="text" name="title" />
          </div>
          <div class="column one-half">
            <label for="website">
              {{ website-label[form field label] Company Website (optional) }}
            </label>
            <input type="text" name="website" />
          </div>
        </div>
        <div>
          <label for="email1">
            {{ email-label[form field label] Email Address }}
          </label>
          <input type="email" name="email1" type="email" required />
        </div>
        <div>
          <label for="website_with_acceptable_ads_c">
            {{ url-label[form field label] URL(s) where you intend to display Acceptable Ads }}
          </label>
          <textarea
            name="website_with_acceptable_ads_c"
            rows="8"
            cols="80"
            placeholder="{{ url-placeholder[form field placeholder] For multiple URLs please add each one on a new line }}"></textarea>
        </div>
        <div>
          <label for="comment">
            {{ comments-label[form field label] Comments (optional) }}
          </label>
          <textarea
            name="description"
            rows="8"
            cols="80"></textarea>
        </div>
        <p>
          <button name="send" type="submit" class="button green">{{ send-button-text[button text] Send }}</button>
          <span id="error-message" class="error-message"></span>
        </p>
        <p>
          {{ primary-policy-1 <strong>Privacy policy:</strong> Your information will be stored and used only to handle this application and to respond to your inquiry. It will never be shared with any third party. If you would like to have your information removed from our database, please email us at <a href="mailto:acceptableads@adblockplus.org">acceptableads@adblockplus.org</a> }}.
        </p>
      </div>
    </form>
  </div>
</section>

<script id="submission-error" type="text/template">
  {{ submission-error[form error message] Failed to submit. Please try again later. }}
</script>

<script src="/js/solutions.js"></script>
