title=The Acceptable Ads standard
description=The guidelines for online ads to be certified as Acceptable Ads.
image=/img/png/aa-facebook-share.png

<section class="masthead">
  <div class="section-container">
    <div class="row">
      <div class="column one-half graphics"></div>
      <div class="column one-half">
        <? include standard/masthead ?>
      </div>
    </div>
  </div>
</section>

<section class="standards py1">
  <div class="section-container">
    <? include standard/standards ?>
  </div>
  <div class="bg-tabs"></div>
  <div class="bg-tabs-extra bg-gray-lighter"></div>
</section>

<section class="criteria py1 bg-black">
  <div class="section-container">
    <? include standard/criteria ?>
  </div>
</section>

<div class="diagonal-edge"></div>

<div class="not-considered-bg bg-red"></div>

<section class="not-considered py1">
  <div class="section-container">
    <? include standard/not-considered ?>
  </div>
</section>
<div class="bg-dynamic bg-black"></div>

<script>

addEventListener('load', function() {
  var largeScreenBreakpoint = 992;
  var extraYOffset = 54;

  var targetEl = document.querySelector('.footnotes2');
  var dynamicBgEl = document.querySelector('.bg-dynamic');
  var footerEl = document.getElementById('footer');

  var placementContent = document.getElementById('placement');
  var distinctionContent = document.getElementById('distinction');
  var sizeContent = document.getElementById('size');
  var tabLinks =
    Array.prototype.slice.call(document.querySelectorAll('.tabs li a'));

  var tabContent = [placementContent, distinctionContent, sizeContent];

  var tabsMap = {
    placement: placementContent,
    distinction: distinctionContent,
    size: sizeContent
  };

  function switchTabContent(element) {
    tabContent.forEach(function(content) {

      if (!content.hasAttribute('hidden'))
        content.setAttribute('hidden', '');
    });

    element.removeAttribute('hidden');
  }

  tabLinks.forEach(function(a) {
    a.addEventListener('click', function(e) {
      e.preventDefault();

      switchTabContent(tabsMap[this.href.split('#')[1]]);

      tabLinks.forEach(function(a) {

        if (a.classList.contains('selected'))
          a.classList.remove('selected');
      });

      this.classList.add('selected');
    });
  });

  function positionDynamicBackground() {
    var targetYOffset;
    var footerYOffset;

    if (innerWidth < largeScreenBreakpoint) {
      return;
    }

    targetYOffset = targetEl.getBoundingClientRect().top;
    footerYOffset = footerEl.getBoundingClientRect().top;

    dynamicBgEl.style.height = (footerYOffset - targetYOffset) + 'px';

    dynamicBgEl.style.top = (targetYOffset + pageYOffset + extraYOffset) + 'px';
  }

  positionDynamicBackground();

  addEventListener('resize', positionDynamicBackground);
});

</script>
