// Fonts ///////////////////////////////////////////////////////////////////////

$objektiv: "ObjektivMk2W03", sans-serif;
$opensans: "Open Sans", sans-serif;

// Colors //////////////////////////////////////////////////////////////////////

$white: #FFFFFF;
$gray-light: #E8E8E8;
$gray-lighter: #F5F5F5;
$gray: #707070;
$black: #000000;
$red: #ED1F45;
$green: #0AAD03;
$green-light: #8CC63E;

// Breakpoints /////////////////////////////////////////////////////////////////

$sm-breakpoint: 544px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;